# A generated secret for Payload
PAYLOAD_SECRET=
AMAZON_CREATOR_CREDENTIAL_ID=
AMAZON_CREATOR_CREDENTIAL_SECRET=
AMAZON_CREATOR_VERSION=3.2
AMAZON_MARKETPLACE=www.amazon.de
AMAZON_PARTNER_TAG=
OPENAI_API_KEY=
OPENAI_TRANSLATION_MODEL=gpt-5.2
